main h1 {
    margin-bottom: 5px;
}
#caption p {
    margin: 0 auto;
    padding: 0;
}
#caption sup {
	font-size: 12px;
	margin-left: 1em;
	padding: 3px;
	background-color: #2A2F4E;
	color: white;
}
header, footer {
    background-color: #2a2f4e;
}
main {
    margin: 0 auto 0 60px;
}
aside {
	background-color: teal;
	color: white;
	padding: 5px;
	float: right;
}
.axis path, .axis line {
	fill: none;
	stroke: black;
	stroke-width: 1px;
	shape-rendering: crispEdges;

}
.axis text {
	font-size: 10px;
	}
.plan {
	fill: none;
	stroke: #EB6A65;
	stroke-width: 2px;
}
.fact {
	fill: none;
	stroke: #2A2F4E;
	stroke-width: 2px;
}
.text {
	width: 70%;
}

.poplanu, .ispolneno {
	opacity: 0.2;
}
.poplanu {
	fill: #EB6A65;
}
.ispolneno {
	fill: #2A2F4E;
}
body {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
}
#menu select {
	display: inline;
	
	}
#menu select:nth-child(2) {
	margin-left: 1em;
	}
#menu {
	margin-top: 5px;
	height: 25em;
}
footer p {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 60px;
	font-size: .8em;
    color: white;
    margin: 0 auto;
}
footer a {
    color: white;
    margin: 0 auto;
}
footer #cc {
	padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 60px;
}
#cc p {
	display: inline;
	padding-left: 1em;
}
table {
	min-width: 600px;
	max-width: 800px;
	margin-top: 1em;
	text-align: left;
	border: 1px solid black;
	border-collapse: collapse;
	margin-bottom: 1em;
	font-size: .8em;
}

thead {
	font-weight: bold;
}
table td {
	border: 1px solid black;
	padding: 5px;
}
